[submodule "data/hand"]
	path = data/hand
	url = https://github.com/XsongyangX/UML-hand-class-diagrams.git
[submodule "models/nmt_pytorch"]
	path = models/nmt_pytorch
	url = https://github.com/pcyin/pytorch_basic_nmt
